@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/style.css" />
    <title>Pátio de Automóveis</title>
</head>
<body>

    <h1>Pátio dos Automóveis</h1>
    <br />
    <form method="post" action="~/html/checar.cshtml">
        <div class="grid-container">
            <button id="area_id" name="area_id" value="1">
                <div class="item1">Área Um</div>
            </button>

            <button id="area_id" name="area_id" value="2">
                <div class="item2">Área Dois</div>
            </button>

            <button id="area_id" name="area_id" value="3">
                <div class="item3">Área Três</div>
            </button>

            <button id="area_id" name="area_id" value="4">
                <div class="item4">Área Quatro</div>
            </button>

            <button id="area_id" name="area_id" value="5">
                <div class="item5">Área Cinco</div>
            </button>

            <button id="area_id" name="area_id" value="6">
                <div class="item6">Área Seis</div>
            </button>

            <button id="area_id" name="area_id" value="7">
                <div class="item7">Área Sete</div>
            </button>

            <button id="area_id" name="area_id" value="8">
                <div class="item8">Área Oito</div>
            </button>

            <button id="area_id" name="area_id" value="9">
                <div class="item9">Área Nove</div>
            </button>

            <button id="area_id" name="area_id" value="10">
                <div class="item10">Área Dez</div>
            </button>

            <button id="area_id" name="area_id" value="11">
                <div class="item10">Área Onze</div>
            </button>

            <button id="area_id" name="area_id" value="12">
                <div class="item10">Área Doze</div>
            </button>
        </div>
    </form>
</body>
</html>
